<section class="w-full bg-[#e7e1d8] text-[#432818] font-['Inter']">
  <div class="max-w-7xl mx-auto  grid grid-cols-1 lg:grid-cols-2 px-6 py-8 items-center">
    
    <!-- Left: Text Content -->
    <div class="space-y-5 text-center lg:text-left flex flex-col justify-center items-center lg:items-start">
      <h1 class="text-4xl md:text-7xl font-extrabold leading-snug text-[#6f1d1b]">
        Elegant Fashion<br>for Real People
      </h1>
      <p class="text-[#432818] text-base md:text-lg max-w-sm">
        Discover timeless style tailored to your lifestyle with Ecomercehub.
      </p>
      <a href="/collections/all" class="inline-block bg-[#6f1d1b] text-white text-base md:text-lg px-6 py-2.5 rounded-full shadow hover:bg-[#432818] transition">
        Shop Now
      </a>
     
    </div>

    <!-- Right: Image Card -->
    <div class="flex justify-center lg:justify-end">
      <div class="relative rounded-xl overflow-hidden border border-[#99582a] p-1 max-w-lg shadow-lg">
        <img src="{{ 'person-img.jpg' | asset_url }}" alt="Model Photo" class="w-full h-auto object-cover rounded-lg">
        <div class="absolute bottom-0 left-0 right-0 px-4 py-3 bg-white/70 backdrop-blur text-sm text-[#432818]">
          Unleash Your Style: Trendsetting Fashion for Every Occasion
        </div>
      </div>
    </div>

  </div>
</section>
